@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #332b41, #325350);
}
#calculator{
    border: 1px solid #717377;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(117, 66, 53, 0.9);
    background-color: transparent;
    border-radius: 16px;
}

#display{
    margin: 10px;
    width: 8.8em;
    border: none;
    padding: 24px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(85, 81, 81, 0.1);
    font-size: 2.3em;
    text-align: right;
    color: #ffffff;
}


.button{
    margin: 10px;
    width: 3.5em;
    height: 3.5em ;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-size: 1.1em;
    box-shadow: -8px -8px 15px rgba(248, 244, 3, 0.1)
}

.button:hover{
    color: rgb(161, 50, 50);
    box-shadow: -8px -8px 15px rgba(117, 228, 14, 0.1);
}

.fd{
    color: rgb(173, 230, 17);
}

.fd:hover{
    color: white;
    background-color: rgb(218, 146, 15);
}

#equal{
    background-color: rgb(201, 89, 49);

}

#equal:hover{
    color: white;
}